/*RODAPE*/
.rodape{
    color: #fff;
    .logo{
        margin-bottom: 20px;
    }
    /*Define imagem e estilo da primeira linha do rodape*/
    &__linha-1{
        background-color: #272525;
        background-image: url("../img2/footer-bg.png");
        background-size: cover;
        padding: 15px;
        overflow: auto;
    }
    /*Define imagem e estilo da  segunda linha do rodape*/
    &__linha-2{
        background-color: #000;
        text-align: center;
        padding: 15px;
    }
    /*Especifica a mesma dimensão para as 3 colunas do rodapé*/
    &__coluna{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    /*Define estilo dos H2*/
    &__titulo{
        border-bottom: 1px solid #fff;
        padding: 0 10px 10px 10px;
        font-size: 18px;
    }
    /*Define estilo links*/
    /*Define lista de links*/
    &__lista-links{
        padding: 0;
        list-style: none;
        &__item{
            color: #fff;
            text-decoration: none;
            margin-bottom: 10px;
            display: block;
        }
        &__item::before{
            content: ">";
            margin-right: 8px;
            color: $cor-principal;
        }
    }
    @media(min-width: $breakpoint-md){
        &__linha-1{
            background-image: url("../img2/footer-bg.png");
        }
        &__coluna{
            float: left;
            width: 33.333%;
            padding: 0 15px;
        }
    }
    @media(min-width: $breakpoint-xl){
        &__linha-1{
            background-image: url("../img2/footer-bg.png");
        }
    }
}

// i{
//     font-size: 7px;
//     border-radius: 10px;
//     height: 20px;
//     width: 20px;
//     background-color: #fff;
// }

// .fb{
//     color: #015162;
// }


.fa-facebook-f:before, .fa-twitter:before, .fa-instagram:before, .fa-youtube:before {
    $valor: 23px;
    display: block;
    border-radius: $valor/2;
    font-size: ($valor/2)-2;
    height: $valor; 
    width: $valor;
    text-align: center;
    line-height: $valor; 
    background-color: #fff;
    color: #015162;
}

.fa-twitter:before{
    background-color: #81e0fe;
}
.fa-facebook-f:before, .fa-instagram:before{
    background-color: #fde67b;
}

.fa-youtube:before{
    background-color: #fb6b6f;
}